@import url('https://webfontworld.github.io/NanumSquareNeo/NanumSquareNeo.css');

:root {
  --font-11 : "NanumSquareNeo", sans-serif;
  --bs-body-font-family: var(--font-11);
}

body {
  font-family: var(--bs-body-font-family);
}

.starting-logo {
  width: 160px;
}

.orbit-logo {
  width: 100px;
}

.bg-orbit {
  background-color: #fff;
}

.font-11 {
  font-family: var(--font-11);
}

.box-click {
  position: relative;
  cursor: pointer;
  padding:5px;
}

.box-click::before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 255, 255, 0.2);
  opacity: 0;
  border-radius: 10px;
  transition: opacity 0.3s ease;
}

.box-click:hover::before {
  opacity: 1;
}

.box-click span {
  position: relative;
  z-index: 1;
}

.bg-video-prj {
  position: absolute; /* 스크롤시 고정은 absolute */
  opacity: 1; /* 원본값 0.15 */
  align-items: center;
  object-fit: cover;
  width: 100%;
  height: 100%;
  background-size : cover;
}

.bg-video__content {
  position: absolute;
  height: 100%;
  width: 100%;
  object-fit: cover;  
}

.downloadBtn {
  position: absolute;
  top: 0;
  right: 0;
  width: 250px;
  height: 100%;
  background-color: #44caca;
  color: #000;
  transition: all 0.3s;
}

.downloadBtn:hover {
  background-color: #a1dddd;
  transition: all 0.3s;
}

.navbar {
  border-bottom: solid 1px rgba(255, 255, 255, 0.3);
}

/* #00FFFF / #FF00FF */